# IDE
prj/settings

prj/bootloader/Debug
prj/bootloader/Release
prj/bootloader/settings
prj/bootloader/*.dep
prj/bootloader/*.dnx

prj/application/Debug
prj/application/Release
prj/application/settings
prj/application/*.dep
prj/application/*.dnx

.vscode

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
# *.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
